theme = "modern"
icons = "awesome5"

{{ if eq .chezmoi.hostname "omen" -}}
[[block]]
block = "battery"
interval = 30
format = "{percentage}% {time} {power}W"

[[block]]
block = "networkmanager"
on_click = "nm-connection-editor"
{{ end -}}

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{Mup}%"
format_swap = "{SUp}%"

[[block]]
block = "nvidia_gpu"
{{ if eq .chezmoi.hostname "omen" -}}
label = "GTX 1050"
{{else if eq .chezmoi.hostname "heater" -}}
label = "GTX 1060"
{{end -}}
show_memory = true
show_clocks = true
interval = 1

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "sound"

[[block]]
block = "time"
interval = 60
format = "%a %d/%m %R"
