theme = "modern"
{{ if eq .chezmoi.hostname "fractal" -}}
icons = "awesome"
{{ else -}}
icons = "aswesome5"
{{ end -}}

{{ if eq .chezmoi.hostname "omen" -}}
[[block]]
block = "battery"
interval = 30
format = "{percentage}% {time} {power}W"

[[block]]
block = "networkmanager"
on_click = "nm-connection-editor"
{{ end -}}

[[block]]
block = "memory"
display_type = "memory"
format_mem = "{Mup}%"
format_swap = "{SUp}%"

{{ if eq .chezmoi.hostname "omen" -}}
[[block]]
block = "nvidia_gpu"
label = "GTX 1050"
show_memory = true
show_clocks = true
interval = 1
{{else if eq .chezmoi.hostname "heater" -}}
[[block]]
block = "nvidia_gpu"
label = "GTX 1060"
show_memory = true
show_clocks = true
interval = 1
{{ end -}}

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "sound"

[[block]]
block = "time"
interval = 60
format = "%a %d/%m %R"
